.browse {
  min-height: 100vh;
  background-color: #141414;
  color: white;
}

.browse__content {
  padding-top: 100px;
  padding-bottom: 50px;
}

.browse__title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 50px;
  margin-bottom: 30px;
  color: #e5e5e5;
}

@media (max-width: 768px) {
  .browse__title {
    font-size: 1.8rem;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
